<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>Automation Rule list:</h4>
<div class="col-6">
    <a class="btn btn-success" th:href="@{'/automationRuleView/add'}">Add</a>
    <h3 th:unless="${automationRules} and ${automationRules.size()}">There are no Automation Rules!</h3>
    <table th:if="${automationRules.size()>0}" class="table table-hover">
        <th>Id</th>
        <th>Name</th>
        <th>Locati</th>
        <th>Type</th>
        <th>Endpoint</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr th:each="automationRule : ${automationRules}">
            <td th:text="${automationRule.automationRulesId}"></td>
            <td th:text="${automationRule.automationRulesName}"></td>
            <td th:text="${automationRule.automationRulesLocation}"></td>
            <td th:text="${automationRule.automationRulesType}"></td>
            <td th:text="${automationRule.endPoint}"></td>

            <td><a class="btn btn-info"
                   th:href="@{'/automationRuleView/edit/'+${automationRule.automationRulesId}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/automationRuleView/delete/'+${automationRule.automationRulesId}}">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>
</body>