<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>Log list:</h4>
<div class="col-6">
    <a class="btn btn-success" th:href="@{'/logView/add'}">Add</a>
    <h3 th:unless="${logs} and ${logs.size()}">There are no Logs!</h3>
    <table th:if="${logs.size()>0}" class="table table-hover">

        <th>Id</th>
        <th>Log date</th>
        <th>Log description</th>
        <th>Log level</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr th:each="log : ${logs}">
            <td th:text="${log.logId}"></td>
            <td th:text="${log.logDate}"></td>
            <td th:text="${log.logDescription}"></td>
            <td th:text="${log.logLevel}"></td>

            <td><a class="btn btn-info"
                   th:href="@{'/logView/edit/'+${log.logId}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/logView/delete/'+${log.logId}}">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>
</body>